/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Times New Roman, serif; }
#page-wrap { width: 800px; margin: 0 auto; }

textarea { border: 0; font: 14px Times New Roman, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 1px; }

#header { margin-top: 20px; width: 100%; height: 102px}
#first-box {border: 1px solid  black; height: 100px; width: 251px; float: left; margin-right: 20px;}
#title { height: 30px; width: 251px; margin-right: 10px;  background: darkgray; border: 1px solid  black; text-align: center; color: black; font: bold 17px Times New Roman, Sans-Serif; padding-top: 14px; padding-bottom: 4px; }
#date-place {margin-top: 10px; height: 40px; width: 251px; border: 1px solid  black; text-align: center;}
#right-box {height: 102px; width: 250px; float: right;}
#number { height: 20px; width: 248px; border: 1px solid  black; font-weight: bold;}
#original { height: 30px; width: 248px; text-align: center; font-weight: bold; font-size: 17px; padding: 4px 0px;}
#date-field { height: 40px; width: 248px; border: 1px solid  black;}

#parties-info {margin-top: 5px; width: 100%; height: 152px;}
#seller {border: 1px solid  black; width: 388px; height: 150px; float: left; padding-left: 3px;}
#buyer {border: 1px solid  black; width: 388px; height: 150px; float: right; padding-left: 3px;}
#address { width: 100%; height: 150px; }
#customer { overflow: hidden; }

#payment-info {height: 80px; width: 795px; margin-top: 5px; margin-left: 5px;}
#payment-bold {font-weight: bold; width: 200px; height: 17px; margin-top: 5px; position: relative; bottom: -3px;}

#table-nr {width: 26px; height: 20px; text-align: center;}
#table-name {width: 400px; height: 20px; text-align: center;}
#table-qty {width: 36px; height: 20px; text-align: center;}
#table-mes {width: 36px; height: 20px; text-align: center;}
#table-vat {width: 40px; height: 20px; text-align: center;}
#table-cost {width: 100px; height: 20px; text-align: center;}


#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 10px 0 0 0; border: 1px solid black;  border-bottom: 0; border-left: 0; }
#items th { background: #eee; }
#items tr.item-row td { border: 1; vertical-align: top; }
#items td.item-price span {width: 80px; height: 20px; text-align: center;}
#items td.total-line { text-align: center; background: #eee; font-weight: bold; }
#items td.total-value { border-left: 0; background: #eee; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#total-line2 { border: 1px solid #000000; width: 300px; height: 20px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;}
#total-line3 { margin-top: 25px; border: 1px solid #000000; width: 788px; height: 20px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

#invoice-info {margin-top: 25px; width: 100%; height: 72px;}
#reciever {border: 1px solid  black; width: 348px; height: 70px; float: left; padding-left: 3px;}
#giver {border: 1px solid  black; width: 348px; height: 70px; float: right; padding-left: 3px;}
#invoice-inft { width: 100%; height: 70px; text-align: center; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }